.dropdown-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.1rem;
  width: 300px;
}
.dropdown-label {
  font-weight: bold;
  font-size: small;
  margin: 0px 4px 2px 12px;
}

.dropdown-select {
  -webkit-appearance: none;
  font-size: 14px;
  padding: 8px 8px 8px 12px;
  height: 50px;
  color: #333;
  border: 2px solid #ccc;
  background-color: #fff;
  border-radius: 8px;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23333' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'/%3E%3C/svg%3E");
  background-repeat: no-repeat;

  background-position: calc(100% - 8px) center;
  background-size: 20px;
}

.dropdown-option {
  padding: 8px 8px 8px 12px;
}
.dropdown-select:focus {
  border: 2px solid #007bff;
  outline: none;
}
