@use "../styles/variables.scss";
@use "../styles/mixins.scss";

.root-body {
  display: flex;
  margin: 0;
  flex: 1 0 100%;

  &__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: variables.$primary-background-color;
  }

  button {
    color: variables.$color-dark !important;
    width: 200px;
    text-transform: none !important;
    font-weight: bolder !important;
    color: variables.$primary-background-color !important;
    justify-content: left !important;
    padding: 0.75rem;
  }

  button:hover {
    background-color: variables.$primary-color !important;
    color: variables.$color-white !important;
  }

  button:focus,
  button:focus-visible {
    outline: 4px auto variables.$primary-color !important;
  }

  .css-1kuwa16-MuiCardMedia-root {
    margin: 1rem 0.5rem 0.5rem 1.5rem;
    height: 20% !important;
    width: 20% !important;
  }
}

@include mixins.mobile {
  .root-body {
    &__main-content {
      display: flex;
      flex-direction: column;
      color: #09090b;
      padding: 0.5rem;
      background-color: variables.$primary-background-color;
      height: 193vh;
    }

    &__header {
      background-color: variables.$color-white;
      height: 5rem;
      width: 100%;
      color: variables.$color-dark;
      text-align: center;
    }

    &__header-title {
      font-family: variables.$font-family-base;
      font-size: 1.8rem;
      font-weight: bold;
      align-items: center;
      color: variables.$color-dark;
    }

    &__footer {
      font-size: 0.6rem;
      color: variables.$color-dark;
      margin-top: auto;
      padding: 1rem 0;
    }
  }
}

@include mixins.desktop {
  .root-body {
    &__main-content {
      display: flex;
      flex-direction: column;
      color: #09090b;
      align-items: flex-start;
      background-color: variables.$primary-background-color;
      width: fit-content;
      height: 100%;
      padding: 1.5rem 2rem 0.5rem 2rem;
    }

    &__header {
      background-color: variables.$color-white;
      height: 5.5rem;
      width: 100%;
      color: variables.$color-dark;
      text-align: start;
    }

    &__header-title {
      font-family: variables.$font-family-base;
      font-weight: bold;
      margin-left: 2.2rem;
      color: variables.$color-dark;
    }

    &__footer {
      font-size: 0.8rem;
      color: variables.$color-dark;
      margin-top: auto;
      padding-top: 2rem;
    }
  }
}
