@use "../../styles/variables";
@use "sass:color";
@use "../../styles/mixins";

@include mixins.mobile {
  .user-card {
    position: relative;
    margin-top: variables.$unit;
    display: flex;
    flex-direction: column;
    border: 1px solid variables.$input-border-color;
    background-color: variables.$primary-background-color;
    border-radius: variables.$border-radius;
    padding: variables.$unit;
    width: 16.5rem;
    text-align: left;
    box-shadow: variables.$user-card-box-shadow;

    &__image-container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 0 0 auto;
    }

    img {
      border-radius: 50%;
      border: variables.$border-size solid
        color.scale($color: variables.$card-text-color, $lightness: 50%);
      width: 6.25rem;
      height: 6.25rem;
      object-fit: cover;
      margin-right: variables.$unit;
    }

    &__info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: variables.$card-text-color;
      top: 0;
      flex: 1;
    }

    &__name-container {
      height: 20%;
      display: flex;
      align-items: center;
      flex: 0 0 auto;
    }

    &__user-name {
      color: variables.$card-text-color;
      font-size: variables.$unit;
      font-weight: bolder;
    }

    &__close-icon {
      position: absolute;
      top: 8px;
      right: 8px;
      cursor: pointer;
      color: variables.$error-color;
      z-index: 1;
    }

    &__description-container {
      height: 80%;
      display: flex;
      flex-direction: column;
      gap: variables.$unit-half;
      align-items: flex-start;
      justify-content: space-between;
      margin-top: variables.$unit-half;
    }

    &__user-description {
      display: flex;
      align-items: flex-end;
      gap: variables.$unit-half;
      font-size: variables.$font-size;
      color: variables.$card-text-color;
      margin: 0;

      &__icon {
        font-size: variables.$unit-half;
        color: color.scale($color: variables.$card-text-color, $lightness: 10%);
      }
    }
  }
}

@include mixins.desktop {
  .user-card {
    position: relative;
    cursor: alias;
    margin-top: variables.$unit;
    display: flex;
    flex-direction: row;
    border: 1px solid variables.$input-border-color;
    background-color: variables.$primary-background-color;
    border-radius: variables.$border-radius;
    padding: variables.$unit;
    width: 35rem;
    text-align: left;
    box-shadow: variables.$user-card-box-shadow;

    &:hover {
      box-shadow: 0 4px 4px variables.$input-border-color;
    }

    &__image-container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 0 0 auto;
    }

    img {
      border-radius: 50%;
      border: variables.$border-size solid
        color.scale($color: variables.$card-text-color, $lightness: 50%);
      width: 6.25rem;
      height: 6.25rem;
      object-fit: cover;
      margin-right: variables.$unit;
    }

    &__info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: variables.$card-text-color;
      top: 0;
      flex: 1;
    }

    &__name-container {
      height: 20%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex: 0 0 auto;
    }

    &__user-name {
      font-size: variables.$unit;
      font-weight: bolder;
    }

    &__close-icon {
      cursor: pointer;
      color: variables.$color-dark;
      transition: all 0.3s ease;
      &:hover {
        transform: scale(1.2);
        color: variables.$error-color;
      }
    }

    &__description-container {
      height: 80%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      justify-content: space-between;
      margin-top: variables.$unit-half;
    }

    &__user-description {
      display: flex;
      align-items: flex-end;
      gap: variables.$unit-half;
      font-size: variables.$font-size;
      color: variables.$card-text-color;
      margin: 0;

      &__icon {
        font-size: variables.$unit-half;
        color: color.scale($color: variables.$card-text-color, $lightness: 10%);
      }
    }
  }
}
