.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.1rem;
  width: 300px;
}
.input-label {
  font-weight: bold;
  font-size: small;
  margin: 0px 4px 2px 12px;
}
.input-field {
  padding: 8px 8px 8px 12px;
  height: 30px;
  color: #333;
  border: 2px solid #ccc;
  background-color: #fff;
  border-radius: 8px;
}
.input-field:focus {
  border: 2px solid #61d8fa;
  outline: none;
}
