@use "../../styles/variables";
@use "../../styles/mixins";

@include mixins.mobile {
  .root-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: variables.$secondary-dark-color;
    padding: variables.$unit;
    width: 60px;
    height: 200vh;
    gap: variables.$unit-half;

    &__logo {
      display: none;
    }

    &__mobile {
      display: flex;
      width: 100%;
      margin: 8px auto;
    }

    &__sidebar-icon {
      width: 30px;
      height: 30px;
      filter: brightness(0) invert(1);
      margin: variables.$unit-half;
    }

    &__line {
      border: 0;
      height: variables.$border-size-one;
      width: 100%;
      background-color: variables.$secondary-background-color;
      margin-bottom: 1.5rem;
    }

    button {
      display: block !important;
      height: fit-content !important;
      padding: variables.$unit-half !important;
      width: 83px !important;
    }

    .css-1ygddt1 {
      display: inherit;
      margin: 0 !important;
    }

    a:-webkit-any-link {
      text-decoration: none !important;
    }

    .css-1sh91j5-MuiButton-startIcon {
      margin: 0 !important;
    }
  }
}

@include mixins.desktop {
  .root-nav {
    display: flex;
    flex-direction: column;
    background-color: variables.$secondary-dark-color;
    padding: variables.$unit;
    width: 200px;
    gap: variables.$unit-half;

    &__logo {
      height: auto;
      margin: 3px 8px 3px 8px;
    }

    &__mobile {
      display: none;
    }

    &__sidebar-icon {
      width: 20px;
      height: 20px;
      filter: brightness(0) invert(1);
      margin: 0 0.5rem 0 1rem;
    }

    &__line {
      border: 0;
      height: variables.$border-size-one;
      width: 100%;
      background-color: variables.$secondary-background-color;
      margin-bottom: 1.5rem;
    }
  }

  button {
    color: variables.$color-dark;
    width: 200px;
    text-transform: none !important;
    font-weight: bolder !important;
    color: variables.$color-white !important;
    justify-content: left !important;
    padding: 0.75rem;
  }

  button:hover {
    background-color: variables.$primary-color;
    color: variables.$color-white;
  }

  button:focus,
  button:focus-visible {
    outline: 4px auto variables.$primary-color;
  }

  .css-1kuwa16-MuiCardMedia-root {
    text-decoration: none !important;
    margin: 1rem 0.5rem 0.5rem 1.5rem;
    height: 20% !important;
    width: 20% !important;
  }

  .css-1t1j96h-MuiCardContent-root {
    text-decoration: none !important;
    padding: 0.5rem 1rem 1rem 1.5rem !important;
  }
}
